<main class="container">
  <div class="overview-container">

    <label>選擇類別</label><br>
    <select class="category-filter">
      <option>類別</option>
      {{#each category}}
      <option>{{this.category}}</option>
      {{/each}}
    </select>
    
    <div>總金額: </div>
    <div class="total-amount">{{totalAmount}}</div>
  </div>
  
  <div class="record-container">
    
    {{#each record}}
    <div class="each-record">
      <span class="record-info">
        <span class="expense-icon">
          <i class="{{this.icon}}"></i>
        </span>
        <div>
          <div class="expense-name">{{this.name}}</div>
          <span class="expense-date">{{this.date}}</span>
        </div>
        <span class="expense-amount">{{this.amount}}</span>
      </span>
  
      <span class="button-container">
        <a href="/expense-tracker/edit/{{this._id}}">修改</a>
        <form action="/expense-tracker/delete/{{this._id}}" method="POST" id="{{this._id}}">
          <button form="{{this._id}}" type="submit">刪除</button>
        </form>
      </span>
    </div>
    {{/each}}
  </div>  
</main>

<aside>
  <a href="/expense-tracker/new" class="new-expense-btn">
    <button>新增支出</button>
  </a>
</aside>


